# Package Files #
#*.jar
*.war
*.ear
*.log
*.class
*.bak

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
target/
.idea

.settings/
.classpath
.project
.springBeans